# 复制为 .env 后填写
TG_BOT_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TG_CHAT_ID=123456789
# 部署到公网时务必设置，访问地址变为 http://host:port/?token=这里的值
DASH_TOKEN=
PRICE_INTERVAL=30
NEAR_STOP=0.05
DAILY_AT=00:05
